<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">

        <title>mytube - {% block title %}Share Free Movies on Youtube!{% endblock %}</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
               <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/mytube/">MyTube</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            {% if user.is_authenticated %}
                                Logged in as <a href="/mytube/profile" class="navbar-link">
                                {{ user.username }}
                            {% endif %}
                            </a>
                        </p>
                        {% if user.is_authenticated %}
                            (logged in as "{{ user.username }}")
                        {% endif %}
                       <ul class="nav">
                           {% if user.is_authenticated %}
                            <li><a href="/mytube/logout/">Logout</a></li>
                           {% else %}
                            <li><a href="/mytube/register/">Register</a></li>
                            <li><a href="/mytube/login/">Login</a></li>
                           {% endif %}
                       </ul>
                       <ul class="nav">
                           {% if user.is_authenticated %}
                            <li><a href="/mytube/add_movie/">Add a Movie</a></li>
                           {% endif %}
                           <li><a href="/mytube/about/">About</a></li>
                       </ul>
                   </div>
                   <!--/.nav-collapse -->
               </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span9">
                    {% block body_block %}
                    {% endblock %}
                </div>
                <div class="span3">
                    <div class="well sidebar-nav">
                        {% block sidebar %}

                        <ul class="nav nav-list">
                            <li class="nav-header">Find a Movie</li>
                            <form>
                                <!--<label></label>-->
                                <!--<li>Genre-->
                                    <!--<select id="genre">-->
                                        <!--<option value="0">Select A Genre...</option>-->
                                        <!--{% for genre in genre_list %}-->
                                            <!--<option value="{{ genre.id }}">{{ genre.name }}</option>-->
                                        <!--{% endfor %}-->
                                    <!--</select>-->
                                <!--</li>-->
                                <!--<li>Name <input type="text" name="title" value="" id="title" /></li>-->
                                <!--<li>PG Level<input type="number" name="pg" value="0" id="pg"></li>-->
                                <label>Genre</label>
                                <select id="genre">
                                    <option value="0">Select A Genre...</option>
                                    {% for genre in genre_list %}
                                        <option value="{{ genre.id }}">{{ genre.name }}</option>
                                    {% endfor %}
                                </select><br />
                                <label>Name</label>
                                <input type="text" name="title" value="" id="title" /><br />
                                <label>PG Level</label>
                                <input type="number" name="pg" value="0" id="pg"><br />
                            </form>
                        </ul>

                        <button id ="search" class="btn btn-mini btn-primary" type="button">Search</button>

                        <div id="movies">
                            {% if movie_list %}
                                <ul class="nav nav-list"><li>Search Result</li></ul>
                                {% include 'mytube/movie_list.html' with movie_list=movie_list %}
                            {% endif %}
                        </div>
                        {% endblock %}
                    </div>
                </div>


            </div>
            <!--/row-->
            
            <hr>
            
            <footer>
                <p>&copy; 2014 MyTube: Share free movies on YouTube! Powered by Django</p>
            </footer>
            
        </div>
        <!--/.fluid-container-->
        <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/mytube-ajax.js' %}"></script>
        <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
        <script src="{% static 'js/jquery.fitvids.js' %}"></script>

    </body>


</html>