{% extends 'mytube/base.html' %}
{% load embed_video_tags %}

{% block title %}{{ movie_name }}{% endblock %}

{% block body_block %}
    <div class="hero-unit">
        <div class="container-fluid">
            <h1>{{ movie_name }}</h1>
            <hr>

            {% video movie_video as my_video %}
                {% video my_video 'small' %}
            {% endvideo %}

            <hr>
            <ul>
                <li>Genre: {{ genre_name }} </li>
                <li>PG Level: PG{{ movie_pg }} </li>
            </ul>
        </div>
    </div>
{% endblock %}
