{% extends 'mytube/base.html' %}
{% load embed_video_tags %}

{% block title %}{{ movie_name }}{% endblock %}

{% block body_block %}
    <div class="hero-unit">
        <h1>{{ movie_name }}</h1>
        <hr>
        <div class="movie">
            {% video movie_video as my_video %}
                {% video my_video "100%x100%" %}
            {% endvideo %}
        </div>

        <ul>
            <li>Genre: {{ genre_name }} </li>
            <li>PG Level: PG{{ movie_pg }} </li>
        </ul>
    </div>
{% endblock %}
